<%- include("header.ejs") %>
<div class="comment ">
    <h1>ང་ཆོའི་སྐོར།</h1>
    <p>༄༅། །བོད་ཀྱི་རྒྱལ་དར་འདི་བཞིན། མི་ལོ་སྟོང་ཕྲག་བརྒལ་བའི་རྒྱལ་རབས་ལོ་རྒྱུས་ཁུངས་དག་ཅིག་ཡིན་ཏེ། དེ་ཡང་བོད་རྒྱལ་ལོ་བརྒྱད་བརྒྱ་ཉི་ཤུའི་ནང་ངམ། ཡེ་ཤུའི་འདས་ལོ་བརྒྱ་ཕྲག་བདུན་པའི་ནང་བོད་ཀྱི་རྒྱལ་པོ་སྲོང་བཙན་སྒམ་པོའི་སྐུ་དུས་སུ། བོད་རྒྱལ་ཁབ་ཆེན་པའི་ནང་གསེས་ས་ཡུལ་རྒྱ་ཆེ་ཞིག་རྒོད་ཀྱི་སྟོང་སྡེ་དང་། གཡུང་གི་མི་སྡེ་ཞེས་པའི་ཡུལ་ཚོ་ཁག་ཏུ་དབྱེ་བགོས་མཛད། སྡེ་ཁག་དེ་དག་ནས་དམག་གི་དཔུང་ཚོ་ཆེན་པོ་འབུམ་ཕྲག་ཉི་ཤུ་རྩ་བརྒྱད་དང་། ཁྲི་དྲུག་ཙམ་བསྡུས་ཏེ་བོད་ཀྱི་མཐའ་མཚམས་ཁག་ཏུ་མངགས། བོད་རྒྱལ་ཁབ་ཀྱི་མངའ་རིས་ཡོངས་རྫོགས་བདེ་བར་བསྲུངས། བོད་ཀྱི་ཁྱིམ་མཚེས་རྒྱ་ནག་གི་རྒྱལ་སའང་བོད་དམག་གིས་དབང་བ་སོགས་སྔ་རབས་བོད་མིའི་སྙིང་སྟོབས་དཔའ་མཛངས་ཀྱི་ལོ་རྒྱུས་ནི། དུས་ད་ལྟའི་བར་ཡང་འཛམ་གླིང་འདིའི་ནང་ཁྱབ་གདལ་དུ་ཡོད་པ་ལྟར།</p>
</div>